<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="proyecto_2.commands.category"
            name="Category">
      </category>
      <command
            categoryId="proyecto_2.commands.category"
            id="proyecto_2.commands.sampleCommand"
            name="Diagrama">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="proyecto_2.handlers.Handler"
            commandId="proyecto_2.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="proyecto_2.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="proyecto_2.menus.sampleMenu"
               label="Plugin menu"
               mnemonic="M">
            <command
                  commandId="proyecto_2.commands.sampleCommand"
                  id="proyecto_2.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="proyecto_2.toolbars.sampleToolbar">
            <command
                  commandId="proyecto_2.commands.sampleCommand"
                  id="proyecto_2.toolbars.sampleCommand"
                  tooltip="Diagramar">
            </command>
         </toolbar>
      </menuContribution>
	</extension> 
</plugin>
